<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Mar Andrés López</p>
    <img src="mifoto.png" width="600" height="492" alt="Mi Foto"/>
  </body>
  <footer>
  	<a href="https://github.com/maral21/PQUIZ">Enlace a mi proyecto en Github</a>
  </footer>
</html>
