<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos! </p>
  </body>
  <footer>
  	<a href="https://github.com/maral21/PQUIZ">Enlace a mi proyecto en Github</a>
  </footer>
</html>
